.home {
  margin: 0 3%;

  #topico {
    margin-bottom: 3rem;
  }

  .modulo {
    margin-bottom: 0.3em;
  }

  #topico h2 {
    font-size: 2.5em;
    margin-bottom: 1rem;
  }

  button {
    font-size: 1.2em;
  }
}
